.flex
{
    display:flex;
    color:hsl(329, 100%, 50%);
    flex-direction:row;
    justify-content: center;  
    transform:translate(50px,40px);
    margin-top: 50px;
}
#p:hover
{
    transform: translateY(-20px);
}
#j:hover
{
    transform: translateY(-20px);
}
#n:hover
{
    transform:translateY(-20px)
}
#v:hover
{
    transform: translateY(-20px);
}
#s:hover
{
    transform: translateY(-20px);
}
#h:hover
{
    transform:translatey(-20px);
}
#p
{
    height:50px;
    width:50px;
    border-radius:50%;
    text-align: center;
    font-weight:100;
    font-size:20px;
    background-color: aqua;
}
#j
{
    height:50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    background-color: #f0d7fa;
}
#n
{
    height: 50px;
    width: 50px;
    border-radius:50%;
    text-align: center;
    font-weight: 100;
    font-size:20px;
    background-color:hwb(223 77% 0%);
}
#v
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    background-color: blanchedalmond;
}
#s
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    background-color: aquamarine;
}
#h
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    background-color: burlywood;
}
.flex #p .tooltip1
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
#j .tooltip2
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px 
}
#n .tooltip3
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px
}
#v .tooltip4
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px
}
#s .tooltip5
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px
}  
#h .tooltip6
{
   
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px 
}
#p:hover .tooltip1 {
    visibility: visible;
  } 
  #j:hover .tooltip2 {
    visibility: visible;
  } 
  #n:hover .tooltip3 {
    visibility: visible;
  } 
  #v:hover .tooltip4 {
    visibility: visible;
  } 
  #s:hover .tooltip5 {
    visibility: visible;
  } 
  #h:hover .tooltip6 {
    visibility: visible;
  } 
  #p .tooltip1::after
   {
 content: "";
 position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
  